/*
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


*/

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

body{
    background-color:rgb(255, 255, 255); 
    font-family:'inter';
    font-family: "Inter", sans-serif;
    font-weight: 690;
    color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    height: 100vh;

}

.container{
    width: 97%; 
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    position: relative;
    padding:2rem;
}

.nav-container{
    position: absolute;
    width: 95.5%;
    height: 95px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid black;*/
 

}

.residence{
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: 300;
  
}
.link_home{
    display: flex;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 0.4rem 1rem;
    align-items: center;
    height: 50px;
}
.link_home li{
    list-style: none;
}
.link_home a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
   font-weight: 500; 
}
.links{
    display: flex;
    gap:0.5rem; 
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    padding: 0.4rem 1rem;
    height: 50px;
    align-items: center;
}


.links li{
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    font-weight: 500; 
}

.links a::after{
    content: "";
    position: absolute;
    width: 0;
    height:1px; 
    bottom: 0;
    left: 0;
    background-color:#ececec;
    transition: width 0.7s;
}
.links a:hover::after{
    width: 100%;
}
.links a:hover{
    transform: translateX(10px); /* Lien se déplace légèrement */
    transition: transform 0.3s ease;
}



.trait-horizontal1{
   position: absolute;
   top: 8rem;
   background-color: black;
   width: 95%;
   height: 1px;
}

main{
  position: relative; 
  /*border: 2px solid rgb(168, 45, 45);*/
  width: 100%;
  top:10.2rem;
  height: 1000px; 

}.logo{
position:absolute; 
right:22rem;   
}
.logo img{
    width: 400%;
}

.form1{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-bottom: none;
    border-right:none; 
    position: absolute;
    top: 4rem;
}
.form2{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-top: none;
    border-left:none; 
    position: absolute;
    left:47rem; 
    top: 30rem;
}

main h1{
    margin-top: -1rem;
    font-size: 11rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.para{
    margin:-1rem 0; 
   /* border:2px solid black; */
    width:920px;
    margin-top:18rem; 
    padding: 1rem;
   
}

.para h2, footer{
    font-size: 2.3rem;
    position: relative; 
}

.salut{
font-size: 9rem;
position: absolute;
top:-10rem; 
}
.grey{
    color: rgb(98, 98, 98);
}
#projet-menu{
    /*border : 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    height: 100px;
    align-items: center;
}
.titre-projet{
    font-size: 9rem;
}
.petit-numero{
    font-size:1rem; 
    font-weight:400; 

}
.carre{
    background-color: black;
    height: 15px;
    width: 15px;
}
#about-menu{
    /*border : 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin-top: 25rem;
    height: 100px;
    align-items: center;
    position: relative;
}

.form3{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-bottom: none;
    border-right:none; 
    position: absolute;
    top: 9rem;

}
.form4{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-top: none;
    border-left:none; 
    position: absolute;
    top: 4rem;
}


.mini_para1{
    position:absolute;
    font-size: 1.5rem; 
    top: 13rem; 
    width: 450px;
    /*border:1px solid red; */
}
.mini_para2{
    position:absolute;
    font-size: 2.2rem; 
    left: 48rem;
    top: 20rem; 
    width: 500px;
    /*border:1px solid red; */
}


.titre-about{
    font-size: 9rem;
}
#contact-menu{
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 38rem;
    margin-left:90px; 
    height: 700px;
    width: 96%; 
    align-items: center;
    position:relative;
   
    

}
.titre-contact{
    position: absolute;
    top: 1rem;
    /*border:2px red solid;*/
    font-size: 9rem;
    color:white;
}
form{
    margin-left: 50rem;
    margin-top: 3rem;
    display:flex;
    flex-direction: column;
    width: 100%;
}
form label {
    color: white;
    font-size: 2rem;

}
input{
 color:white; 
 height: 2rem;
 width: 100%;
 background-color: rgb(78, 78, 78);
 border-top: none;
 border-left: none;
 border-right: none;
 font-size: 2rem; 
 padding:2rem 0; 
 border-bottom: 1px solid white;
}
input:focus, textarea:focus, button:focus {
    outline: none; /* Supprime le contour */
  }
footer{
width: 400px;
margin-top:400px; 
/*border:1px solid black;*/
position:absolute; 
padding: 2rem;
right: 1rem;
font-size: 2.5rem;
display: flex;
justify-content: center;
top: 170rem;
}

