/*
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth ;
    font-family: "Inter", sans-serif;
}


body{
    height: 100%;
    font-weight: 690;
    color: rgb(0, 0, 0); 
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0
    

}


.logo{
    position:relative; 
    width: 6%;
}
.logo img{
   width: 100%;
   position: absolute;
   left: 5rem;
   top: -1rem; 
}


.link_home{
    display: flex;
    border-radius: 7px;
    padding: 1.7rem;
    align-items: center;
    height: 50px;
}
.link_home li{
    list-style: none;
}
.link_home a{
    text-decoration: none;
    color: #000000;
    position: relative;
    font-weight:300;
    font-size:1.7rem;  

}
.links{
    display: flex;
    gap:0.5rem; 
    padding: 1.7rem;
    height: 50px;
    align-items: center;
}


.links li{
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #000000;
    position: relative;
    font-weight:300;
    font-size:1.7rem;  
}

.links a::after{
    content: "";
    position: absolute;
    width: 0;
    height:1px; 
    bottom: 0;
    left: 0;
    background-color:#000000;
    transition: width 0.7s;
}
.links a:hover::after{
    width: 100%;
}
.links a:hover{
    transform: translateX(10px); 
    transition: transform 0.3s ease;
}

 header{
   /*border:2px solid red;*/
   position: relative;
   top:3rem; 
   width: 100%;
   z-index: 1;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
 

.navbar{
    width: 100%;
    max-width: 1550px;
    height: 60px;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    /*border: 2px solid black;*/
}



main{
    position:absolute; 
    /*border: 2px solid blue;*/
    width: 100%;
    max-width: 1500px;
    margin-top: 3.4rem;
    height: 100vh;
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.container1{
    margin-top: -4rem;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.772);  
    height: 750px;
    max-width: 1520px;
    border-radius:15px; 
    position: absolute;
    padding: 1rem;
   /* border: 2px solid rgb(0, 189, 135);*/
    
}

.titre-portfolio{
    position:absolute; 
    color:rgba(255, 255, 255, 0.164); 
    font-size: 15.7rem;
    top:11.2rem;  
    left:3.3rem; 
   
}

.copyright{
    position:absolute;
    font-size:7rem; 
    font-weight:400;
    left:83rem;
    top:-3rem;
}
section{
    margin-left: 2rem;
}

.salut{
      position:absolute; 
      font-size: 10rem;
      font-weight: 700;
      top: 6.8rem; 
}


.trait-horizontal2{
    position: absolute;
    width: 843px;
    left: 10rem; 
    height:1px; 
    top: 6rem; 
    background-color: white;
    z-index: 1;
}
.trait-horizontal3{
    position: absolute;
    width: 843px;
    left: 10rem; 
    height:1px; 
    top: 40rem; 
    background-color: white;
    z-index: 1;
}

.triangle1{
    position:absolute; 
    border-top:1px solid white;
    border-left:1px solid white;
    width: 30px;
    height: 30px;
    top: 3rem;
    left: 6rem;
}
.paragraphe1{
    width: 100%; 
    max-width: 900px;
    margin-left: 7rem;
    height: 100px; 
    /*border: 2px solid red;*/
    color: white; 
    margin-top:18rem; 
    font-size: 3rem;
    font-weight: 200;
}

.triangle2{
    position:absolute; 
    border-right:1px solid white;
    border-bottom:1px solid white;
    width: 30px;
    height: 30px;
    top: 41.3rem;
    left: 65rem;
}

.join{
    position: absolute;
    left:65.7rem; 
    border:1px solid white; 
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    top: 27rem;
}

.join li {
    list-style: none;
}

.join li a {
    text-decoration: none;
    color:white; 
    font-size:1.4rem;
}

#projet-menu {
    position: relative;
    margin-top: 260rem;
    /*border: 2px solid yellow;*/
}

.projet-container h1{
    font-size: 7rem;
    position: absolute;
    left: -2rem;
}
.trait-horizontal4{
    position: absolute;
    top:7.2rem; 
    width:1487px;
    background-color: black;
    height: 1px;
    left: -1rem;
    
}
.number01{
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
}

.photos{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.772); 
    border-radius: 15px;
     top: 10rem;
    width: 700px;
    height:500px;
    left: 26rem;
}

#projet-about{
    position: relative;
    margin-top: 50rem;
    /*border: 2px solid yellow;*/
}

.titre-about{
    font-size: 7rem;
    position: absolute;
    left: -2rem;
     /*border: 2px solid red; */
}

.number02{
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
}
.trait-horizontal5{
    position: absolute;
    top:7.2rem; 
    width:1487px;
    background-color: black;
    height: 1px;
    left: -1rem;
}

.trait-horizontal5::after{
    content: "";
    left: 8rem;
    position:absolute;
    top: 8rem; 
    width: 30px;
    height: 30px;
    border-top:1px solid white ;
    border-left:1px solid white;
    z-index: 2;
}
.trait-horizontal5::before{
    content: "";
    left: 67rem;
    position:absolute;
    top: 37.5rem; 
    width: 30px;
    height: 30px;
    border-right:1px solid white ;
    border-bottom:1px solid white;
    z-index: 2;
}


.grid{
 position:absolute; 
 background-color:rgba(0, 0, 0, 0.772); 
 width: 100%; 
 max-width: 1200px;
 height: 650px;
 top: 10rem;  
 border-radius:15px; 
 display:grid;
 grid-template-columns:repeat(2,400px); 
 justify-content:center;
 align-content: center;
 column-gap: 70px;

}

.paragraphe{
    border-top: 0.5px solid white;
    width: 400px;
    margin-top:6rem; 
    color:white; 
    font-size: 1.4rem; 
    font-weight: 200;
    padding-top: 1rem;
}
.skills-grid{
    display: grid;
    grid-template-columns: 100px 100px ;
    gap: 10px;
    font-size: 1rem;
    padding-top:0.7rem;
}

.skills .web{
    font-weight: 500;
    font-size: 1.5rem;
    margin-top:1rem;  

}
#projet-about ul{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    list-style: none;
}
.cv li{
text-decoration: none;
 }
.cv a{
   color: white;  
   text-decoration: none; 
}

#contact-menu{
position: relative;
margin-top:60rem; 
width: 90%;
background-color:rgba(0, 0, 0, 0.772);
border-radius:20px; 
height: 800px;
min-height: 800px;
overflow: visible;
display: flex;

}

#contact-menu h1{
    font-size: 7rem;
    color: white;
    top: 2rem;
}
 .number03{
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
}
.number03::after{
   position: absolute;
   content:"";
   width: 1300px;
   height: 1px;
   background-color: white;
   top: 7rem;
   left: -33rem;

}
.contact-mini{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.711); 
    height:550px;
    width: 80%;
    top: 10rem;
    z-index: 3;
    right: 0;
    border-radius: 15px;
}
.contact-mini p{
    color:white;
    width: 350px; 
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 7rem;
    border-top: 1px solid white;
    padding-top: 1rem;
    margin-left: 4rem;   
}

.contact-mini::after{
    position:absolute; 
    content: "";
    width:25px;
    height: 25px;
    border-top:1px solid white;
    border-left: 1px solid white;
    top: 4rem;
    left: 3rem;
}
.contact-mini::before{
    position:absolute; 
    content: "";
    width:25px;
    height: 25px;
    border-bottom:1px solid white;
    border-right: 1px solid white;
    top: 20rem;
    left:   24.5rem;
}



form{
    margin-left: 30rem;
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    width: 50%;

}
form label{
    color:white; 
    font-size: 1.6rem;
    font-weight: 200;
    padding-top: 0.7rem ;
 }
form input{
   background: none;
   border: none;
   border-bottom: 1px solid white;
   font-size: 1.5rem;
   margin-top: 0.1rem;
   padding-top: 0.7rem ;
   color:white; 
   padding-bottom: 1rem;
}

form input:focus{

    outline: none;
    background:none; /* Assure la suppression de l'effet par défaut */
}


form button{
    border:none; 
    width:150px; 
    height:37px;
    font-size: 1rem; 
    font-weight: 500;
    margin-top:1rem; 
    background-color:rgba(117, 117, 117, 0.772);
    color:white;
    border-radius: 8px;

}

.reseau{
  /*border:1px solid green; */
  width: 100%;
  max-width: 510px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin:40rem 0 0 -13.3rem;
  z-index: 10;
}
.reseau li{
    list-style: none;
}
.reseau li a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
}

.menu{
    position: relative;
    margin-top: 15rem;
    max-width: 1200px;
}
.menu h1{
   font-size: 7rem;
}
.number04{
    position: absolute;
    font-size: 1rem;
    font-weight: 200;
}


.menu-block{

    width: 100%;
    height: 460px;
    background-color:rgba(0, 0, 0, 0.772);
    border-radius: 15px;
}
.links-block{
    width: 60%;
    position: absolute;
    /*border:2px solid red;*/
    top: 17rem;
    left: 30rem;
}


.links-block li{
    list-style-type:none;
}
.links-block li::after{
   position:absolute; 
   content:"";
   height:0.4px; 
   width: 670px;
   background-color: white;
   left:1rem; 
   margin-top: 3.5rem;
}

.links-block li::before{
    position:absolute; 
    content:"";
    height:10px; 
    width: 10px;
    background-color: white;
    left:42.2rem; 
    margin-top: 2.2rem;
 }
.links-block li a{
    text-decoration: none;
    color:white; 
    font-size: 3.5rem;
}
.numero{
    
    position: absolute;
    font-size: 1rem;
    font-weight: 200;

}

footer{
   position: relative;
   margin-top: 10rem;
   background-color:rgba(0, 0, 0, 0.772);
   width: 100%;
   height: 200px;
   border-radius:15px;
   margin-bottom: 0.1rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-container{
    display: flex;
    justify-content:space-between;
    border: 1px solid green;
    width: 100%;
    max-width: 1300px;
    height: 90px;

  
}
.footer-container .logo-blanc{
    border:1px solid red;
    top: -4rem;
    height: 200px;
    display: flex;
    justify-content: center;
    position: relative;


}
 .logo-blanc img{
    width: 100%;
}

